@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
#login {
  background: #f8f9fe;
  width: 100%;
  display: block;
  height: 100vh;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#login .title {
  text-align: center;
}

#login .main-login {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#login form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 300px;
}

#login .main-login h1 {
  font-size: 40px;
  color: #f9b411;
  font-family: "Pacifico", cursive;
}

#login p {
  color: #888;
  opacity: 0.9;
}

#login a {
  color: #222;
  text-decoration: none;
  font-size: 14px;
}

.link-container-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
